<mat-toolbar [style.background-color]="'gray'">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="800px" fxLayoutAlign="space-between center"
        [style.margin-left]="'10px'">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <span> Inicio</span>
            <span> Suscripciones</span>
            <span> Publicaciones</span>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="50px" fxLayoutAlign="space-between center">
            <span>
                <mat-icon>person icon</mat-icon> Usuario
            </span>
            <span>
                <mat-icon>exit_to_app</mat-icon> Usuario
            </span>
        </div>
    </div>

</mat-toolbar>
<br>