<div fxLayout="column" fxLayoutAlign="space-between" [style.background-color]="'#e6e6e6'">
    <h2 [style.margin-left]="'25px'"><b>Publicación de solicitud de apoyo para la realización de una actividad académica,
        dirigida a la población graduada de
        la carrera de Informática Empresarial</b></h2>
    <mat-stepper [style.background-color]="'#e6e6e6'">
        <mat-step>
            <form>
                <ng-template matStepLabel>Actividad académica</ng-template>
                <hr>
                
                <h1><b>Información de la actividad académica</b></h1>
                
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de la actividad</mat-label>
                    <input matInput type="text" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Descripción de la actividad</mat-label>
                    <textarea matInput></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Alternativa 1 de fecha de la actividad</mat-label>
                    <input matInput [matDatepicker]="pickerAlt1" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAlt1"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAlt1></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Alternativa 2 de fecha de la actividad</mat-label>
                    <input matInput [matDatepicker]="pickerAlt2" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAlt2"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAlt2></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Periodo de aceptación</mat-label>
                    <input matInput [matDatepicker]="pickerAlt1" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAlt1"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAlt1></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de actividad</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let activity_type of activity_types" [value]="activity_type.id">
                            {{activity_type.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Modalidad</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let modality of modalities" [value]="modality.id">
                            {{modality.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Recinto organizador</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let campus of campuses" [value]="campus.id">
                            {{campus.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-button matStepperNext>Siguiente</button>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Persona encargada</ng-template>
                <hr>
                <strong>
                <h1><b>Información de la persona responsable de la actividad académica</b></h1>
            </strong>
                <mat-form-field appearance="fill">
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" matInput required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono (opcional)</mat-label>
                    <input type="tel" matInput>
                </mat-form-field>
                <br>
                <button mat-button matStepperNext>Siguiente</button>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>Resumen</ng-template>
                <hr>
                <div class="container-summary">
                    <strong>
                    <h1><b>Información de la actividad académica</b></h1>
                </strong>

                    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px"
                        class="container-labels-activities">

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="282px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Nombre de actividad</label>
                            <label>Taller de Github</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="246px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Descripción de la actividad</label>
                            <label>La siguiente actividad...</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="184px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Alternativa 1 de fecha de la actividad </label>
                            <label>24 de junio de 2023 </label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="184px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Alternativa 2 de fecha de la actividad </label>
                            <label>24 de junio de 2023 </label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="80px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Periodo de aceptacion de respuestas para la consulta </label>
                            <label>28 de junio de 2023 </label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="305px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Tipo de actividad</label>
                            <label>Taller</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="346px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Modalidad</label>
                            <label>Presencial</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="364px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Recinto </label>
                            <label>Sede del Atlántico, Recinto de Paraíso </label>
                        </div>

                    </div>

                    <br>
                    <strong>
                    <h1><b>Información de la persona responsable de la actividad académica</b></h1>
                </strong>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="100px" fxLayoutAlign="space-between center"
                        class="header-container">

                        <div fxLayout="column" fxLayoutAlign="space-between" class="container-labels-person">

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="368px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Correo</label>
                                <label>johndoe@example.com </label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="357px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Nombre</label>
                                <label>John </label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="351px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Apellidos</label>
                                <label>Doe </label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="355px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Teléfono </label>
                                <label>88888888 </label>
                            </div>

                        </div>

                    </div>
                    <br>
                    <br>


                    <button mat-button matStepperNext>Publicar</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>