<div fxLayout="column" fxLayoutAlign="space-between" [style.background-color]="'#e6e6e6'">
    <h2 [style.margin-left]="'25px'"><b>Publicación de solicitud de apoyo para la realización de una actividad académica,
        dirigida a la población graduada de
        la carrera de Informática Empresarial</b></h2>
    <mat-stepper [style.background-color]="'#e6e6e6'" #stepper>
        <mat-step [stepControl]="academicActivityForm">
            <form [formGroup]="academicActivityForm">
                <ng-template matStepLabel>Actividad académica</ng-template>
                <hr>
                
                <h1><b>Información de la actividad académica</b></h1>
                
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre de la actividad</mat-label>
                    <input matInput autocomplete="off" type="text" formControlName = "titulo" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Descripción de la actividad</mat-label>
                    <textarea matInput autocomplete="off" formControlName = "descripcion"></textarea>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Alternativa 1 de fecha de la actividad</mat-label>
                    <input matInput [matDatepicker]="pickerAlt1" (dateInput)="selectDate1('input', $event)" (dateChange)="selectDate1('change', $event)" required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAlt1"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAlt1></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Alternativa 2 de fecha de la actividad</mat-label>
                    <input matInput [matDatepicker]="pickerAlt2" (dateInput)="selectDate2('input', $event)" (dateChange)="selectDate2('change', $event)"  required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerAlt2"></mat-datepicker-toggle>
                    <mat-datepicker #pickerAlt2></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Periodo Inicial</mat-label>
                    <input matInput [matDatepicker]="pickerInicial" (dateInput)="selectDate3('input', $event)" (dateChange)="selectDate3('change', $event)"  required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerInicial"></mat-datepicker-toggle>
                    <mat-datepicker #pickerInicial></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Periodo Final</mat-label>
                    <input matInput [matDatepicker]="pickerFinal" (dateInput)="selectDate4('input', $event)" (dateChange)="selectDate4('change', $event)"  required>
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFinal></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Tipo de actividad</mat-label>
                    <mat-select [(ngModel)]="idActivity" formControlName="idActivity"  (selectionChange)="onSelectedActivity($event)">
                        <mat-option *ngFor="let activity_type of activity_types"  [value]="activity_type" >
                            {{activity_type.nombreTipo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Modalidad</mat-label>
                    <mat-select #modalidad (selectionChange)="onSelectedModalidad($event)">
                        <mat-option *ngFor="let modality of modalities" [value]="modality">
                            {{modality.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Recinto organizador</mat-label>
                    <mat-select #recinto (selectionChange)="onSelectedRecinto($event)">
                        <mat-option *ngFor="let campus of campuses" [value]="campus">
                            {{campus.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <button mat-button matStepperNext>Siguiente</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="personInChargeForm">
            <form [formGroup]="personInChargeForm">
                <ng-template matStepLabel>Persona encargada</ng-template>
                <hr>
                <strong>
                <h1><b>Información de la persona responsable de la actividad académica</b></h1>
            </strong>
                <mat-form-field appearance="fill">
                    <mat-label>Correo electrónico</mat-label>
                    <input type="email" matInput autocomplete="off" formControlName = "correoElectronico" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName = "nombre" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Apellidos</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName = "apellidos" required>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Teléfono (opcional)</mat-label>
                    <input type="tel" autocomplete="off" formControlName = "telefono" matInput>
                </mat-form-field>
                <br>
                <button mat-button matStepperNext>Siguiente</button>
            </form>
        </mat-step>
        <mat-step [formGroup]="personInChargeForm">
            <form [formGroup]="personInChargeForm">
                <ng-template matStepLabel>Resumen</ng-template>
                <hr>
                <div class="container-summary">
                    <strong>
                    <h1><b>Información de la actividad académica</b></h1>
                </strong>

                    <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px"
                        class="container-labels-activities">

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="282px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Nombre de actividad</label>
                            <label>{{this.academicActivityForm.value.titulo}}</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="246px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Descripción de la actividad</label>
                            <label>{{this.academicActivityForm.value.descripcion}}</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="184px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Alternativa 1 de fecha de la actividad </label>
                            <label>{{this.date1Text}}</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="184px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Alternativa 2 de fecha de la actividad </label>
                            <label>{{this.date2Text}} </label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="323px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Periodo Inicial </label>
                            <label>{{this.date3Text}} </label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="329px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Periodo Final </label>
                            <label>{{this.date4Text}} </label>
                        </div>

                        

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="305px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Tipo de actividad</label>
                            <label>{{this.nombreTipo}}</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="346px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Modalidad</label>
                            <label>{{this.name}}</label>
                        </div>

                        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="364px" fxLayoutAlign="start center"
                            class="header-container">
                            <label>Recinto </label>
                            <label>{{this.nombre}} </label>
                        </div>

                    </div>

                    <br>
                    <strong>
                    <h1><b>Información de la persona responsable de la actividad académica</b></h1>
                </strong>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="100px" fxLayoutAlign="space-between center"
                        class="header-container">

                        <div fxLayout="column" fxLayoutAlign="space-between" class="container-labels-person">

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="368px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Correo</label>
                                <label>{{this.personInChargeForm.value.correoElectronico}}</label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="357px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Nombre</label>
                                <label>{{this.personInChargeForm.value.nombre}} </label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="351px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Apellidos</label>
                                <label>{{this.personInChargeForm.value.apellidos}} </label>
                            </div>

                            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="355px" fxLayoutAlign="start center"
                                class="header-container">
                                <label>Teléfono </label>
                                <label>{{this.personInChargeForm.value.telefono}} </label>
                            </div>

                        </div>

                    </div>
                    <br>
                    <br>


                    <button mat-button matStepperNext (click)="addAcademicActivity()">Publicar</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>